<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    
    <div class="jumbotron text-center" style = "padding-bottom : 20px">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class="row" style = "padding-bottom : 20px">
      <div class="col-md-12">
        <h2>Featured Image</h2>
        <img src= {{ mars.featured_image }} class="w-100" alt="...">
      </div>

    </div> 
    <div class="row" style = "padding-bottom : 20px">
      <div class="col-md-12">
    <h2>Latest Mars News:</h2>
    <h3>{{ mars.news_headline }}</h3>
    <p>{{ mars.news_preview }}</p>
      </div>

    </div>  

    <div class="row" style = "padding-bottom : 20px">
      <div class="col-md-12">
        <h2>Mars Facts</h2>
      </div> 
      <div class="col-md-12 text-left">
          {{ mars.info|safe }}
        </table>
      </div>
      

    </div> 




        <div class="row text-center">
          <div class="col-md-12">
          <h2>Mars Hemispheres</h2>
        </div>
            <div class="col-md-6">
             <div class="card">
                <img src="{{ mars.hemispheres[1].img_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{ mars.hemispheres[0].title }}</h5>
               </div>
              </div>
            </div>
          <div class="col-md-6">
            <div class="card">
              <img src="{{ mars.hemispheres[3].img_url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ mars.hemispheres[2].title }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="{{ mars.hemispheres[5].img_url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ mars.hemispheres[4].title }}</h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="{{ mars.hemispheres[7].img_url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ mars.hemispheres[6].title }}</h5>
              </div>
            </div>
            </div>
          </div>
        </div>

      </div> 




      
  </div>
  </div>
</body>

</html>
